<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxun.ywpt.mobile.business.dao.DatabaseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xiangxun.ywpt.mobile.business.domain.DatabaseInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DIALECT" property="dialect" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="PORT" property="port" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="SID" property="sid" jdbcType="VARCHAR" />
    <result column="FACTORY_ID" property="factoryId" jdbcType="VARCHAR" />
  </resultMap>

	<select id="databaseDetails" resultMap="BaseResultMap" parameterType="com.xiangxun.ywpt.mobile.business.domain.DatabaseInfo">
		SELECT * FROM PROPERTY_DATABASE_INFO 
		<where>
		
		<if test="name != null">
	  		and NAME like #{name,jdbcType=VARCHAR}
	  	</if>
		
		</where>
	</select>

</mapper>