<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxun.atms.module.bs.dao.OwnerMapper" >
  <resultMap id="BaseResultMap" type="com.xiangxun.atms.module.bs.vo.Owner" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    <id column="ID" property="id" jdbcType="NVARCHAR" />
    <result column="NAME" property="name" jdbcType="NVARCHAR" />
    <result column="REGION_ID" property="regionId" jdbcType="NVARCHAR" />
    <result column="REMARK" property="remark" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    ID, NAME, REGION_ID, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiangxun.atms.module.bs.vo.OwnerSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_OWNER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from T_OWNER
    where ID = #{id,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    delete from T_OWNER
    where ID = #{id,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiangxun.atms.module.bs.vo.OwnerSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    delete from T_OWNER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiangxun.atms.module.bs.vo.Owner" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    insert into T_OWNER (NAME, REGION_ID, REMARK
      )
    values (#{name,jdbcType=NVARCHAR}, #{regionId,jdbcType=NVARCHAR}, #{remark,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangxun.atms.module.bs.vo.Owner" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    insert into T_OWNER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        ID,
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        NAME,
      </if>
      <if test="@Ognl@isNotEmpty(regionId)" >
        REGION_ID,
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(regionId)" >
        #{regionId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiangxun.atms.module.bs.vo.OwnerSearch" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    select count(*) from T_OWNER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    update T_OWNER
    <set >
      <if test="@Ognl@isNotEmpty(record.id)" >
        ID = #{record.id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.name)" >
        NAME = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.regionId)" >
        REGION_ID = #{record.regionId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.remark)" >
        REMARK = #{record.remark,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    update T_OWNER
    set ID = #{record.id,jdbcType=NVARCHAR},
      NAME = #{record.name,jdbcType=NVARCHAR},
      REGION_ID = #{record.regionId,jdbcType=NVARCHAR},
      REMARK = #{record.remark,jdbcType=NVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangxun.atms.module.bs.vo.Owner" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    update T_OWNER
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="regionId != null" >
        REGION_ID = #{regionId,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangxun.atms.module.bs.vo.Owner" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    update T_OWNER
    set NAME = #{name,jdbcType=NVARCHAR},
      REGION_ID = #{regionId,jdbcType=NVARCHAR},
      REMARK = #{remark,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <select id="getListByCondition" resultMap="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
     from T_OWNER
    <where >
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
         and NAME LIKE '%${name}%'
      </if>
      <if test="@Ognl@isNotEmpty(regionId)" >
         and REGION_ID = #{regionId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
         and REMARK = #{remark,jdbcType=NVARCHAR}
      </if>
    </where>
    <if test="@Ognl@isNotEmpty(sortColumn)" >
       order by ${sortColumn} 
    </if>
  </select>
  <select id="countList" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jun 16 16:35:11 CST 2017.
    -->
    select count(*) from T_OWNER
    <where >
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
         and NAME LIKE '%${name}%'
      </if>
      <if test="@Ognl@isNotEmpty(regionId)" >
         and REGION_ID = #{regionId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
         and REMARK = #{remark,jdbcType=NVARCHAR}
      </if>
    </where>
  </select>
</mapper>