<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxun.atms.module.sergrade.mapper.FactoryInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xiangxun.atms.module.sergrade.domain.FactoryInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="LINKMAN" property="linkman" jdbcType="VARCHAR" />
    <result column="TELPHONE" property="telphone" jdbcType="VARCHAR" />
    <result column="POINT" property="point" jdbcType="DECIMAL" />
    <result column="GRADE_CODE" property="gradeCode" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, NAME, LINKMAN, TELPHONE, POINT, GRADE_CODE, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiangxun.atms.module.sergrade.domain.FactoryInfoSearch" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SERGRADE_FACTORY_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SERGRADE_FACTORY_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SERGRADE_FACTORY_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiangxun.atms.module.sergrade.domain.FactoryInfoSearch" >
    delete from SERGRADE_FACTORY_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiangxun.atms.module.sergrade.domain.FactoryInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into SERGRADE_FACTORY_INFO (NAME, LINKMAN, TELPHONE, 
      POINT, GRADE_CODE, REMARK
      )
    values (#{name,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, 
      #{point,jdbcType=DECIMAL}, #{gradeCode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangxun.atms.module.sergrade.domain.FactoryInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into SERGRADE_FACTORY_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        ID,
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        NAME,
      </if>
      <if test="@Ognl@isNotEmpty(linkman)" >
        LINKMAN,
      </if>
      <if test="@Ognl@isNotEmpty(telphone)" >
        TELPHONE,
      </if>
      <if test="@Ognl@isNotEmpty(point)" >
        POINT,
      </if>
      <if test="@Ognl@isNotEmpty(gradeCode)" >
        GRADE_CODE,
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(linkman)" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(telphone)" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(point)" >
        #{point,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(gradeCode)" >
        #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiangxun.atms.module.sergrade.domain.FactoryInfoSearch" resultType="java.lang.Integer" >
    select count(*) from SERGRADE_FACTORY_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SERGRADE_FACTORY_INFO
    <set >
      <if test="@Ognl@isNotEmpty(record.id)" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.name)" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.linkman)" >
        LINKMAN = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.telphone)" >
        TELPHONE = #{record.telphone,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.point)" >
        POINT = #{record.point,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(record.gradeCode)" >
        GRADE_CODE = #{record.gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.remark)" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SERGRADE_FACTORY_INFO
    set ID = #{record.id,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      LINKMAN = #{record.linkman,jdbcType=VARCHAR},
      TELPHONE = #{record.telphone,jdbcType=VARCHAR},
      POINT = #{record.point,jdbcType=DECIMAL},
      GRADE_CODE = #{record.gradeCode,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangxun.atms.module.sergrade.domain.FactoryInfo" >
    update SERGRADE_FACTORY_INFO
    <set >
      <if test="@Ognl@isNotEmpty(name)" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(linkman)" >
        LINKMAN = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(telphone)" >
        TELPHONE = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(point)" >
        POINT = #{point,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(gradeCode)" >
        GRADE_CODE = #{gradeCode,jdbcType=VARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangxun.atms.module.sergrade.domain.FactoryInfo" >
    update SERGRADE_FACTORY_INFO
    set NAME = #{name,jdbcType=VARCHAR},
      LINKMAN = #{linkman,jdbcType=VARCHAR},
      TELPHONE = #{telphone,jdbcType=VARCHAR},
      POINT = #{point,jdbcType=DECIMAL},
      GRADE_CODE = #{gradeCode,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getListByCondition" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
     from SERGRADE_FACTORY_INFO
    <where >
      <if test="@Ognl@isNotEmpty(orgs)" >
         and ${orgs}
      </if>
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
         and NAME = #{name,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(linkman)" >
         and LINKMAN = #{linkman,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(telphone)" >
         and TELPHONE = #{telphone,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(point)" >
         and POINT = #{point,jdbcType=DECIMAL}
      </if>
      <if test="@Ognl@isNotEmpty(gradeCode)" >
         and GRADE_CODE = #{gradeCode,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
         and REMARK = #{remark,jdbcType=VARCHAR}
      </if>
    </where>
    <if test="@Ognl@isNotEmpty(sortColumn)" >
       order by ${sortColumn} 
    </if>
  </select>
  <select id="countList" resultType="java.lang.Integer" >
    select count(*) from SERGRADE_FACTORY_INFO
    <where >
      <if test="@Ognl@isNotEmpty(orgs)" >
         and ${orgs}
      </if>
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
         and NAME = #{name,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(linkman)" >
         and LINKMAN = #{linkman,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(telphone)" >
         and TELPHONE = #{telphone,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(point)" >
         and POINT = #{point,jdbcType=DECIMAL}
      </if>
      <if test="@Ognl@isNotEmpty(gradeCode)" >
         and GRADE_CODE = #{gradeCode,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
         and REMARK = #{remark,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
  <select id="selectList" resultMap="BaseResultMap" >
    select 
    	t.ID, t.NAME, t.LINKMAN, t.TELPHONE, t.POINT, t.GRADE_CODE, t.REMARK
    from SERGRADE_FACTORY_INFO t 
    <where >
      <if test="@Ognl@isNotEmpty(id)" >
         and t.ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
	     and t.NAME LIKE '%${name}%'
	  </if>
	  <if test="@Ognl@isNotEmpty(linkman)" >
         and t.LINKMAN LIKE '%${linkman}%'
      </if>
      <if test="@Ognl@isNotEmpty(telphone)" >
         and t.TELPHONE LIKE '%${telphone}%'
      </if>
	  
    </where>
    order by t.NAME asc
  </select>
  
  <select id="selectTotal" resultType="java.lang.Integer" >
    select count(*) from SERGRADE_FACTORY_INFO t
     <where >
      <if test="@Ognl@isNotEmpty(id)" >
         and t.ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
	     and t.NAME LIKE '%${name}%'
	  </if>
	  <if test="@Ognl@isNotEmpty(linkman)" >
         and t.LINKMAN LIKE '%${linkman}%'
      </if>
      <if test="@Ognl@isNotEmpty(telphone)" >
         and t.TELPHONE LIKE '%${telphone}%'
      </if>
	  
    </where>
  </select>
</mapper>