<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxun.atms.module.apb.dao.ApbProductTypeMapper" >
  <resultMap id="BaseResultMap" type="com.xiangxun.atms.module.apb.vo.ApbProductType" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    <id column="ID" property="id" jdbcType="NVARCHAR" />
    <result column="CODE" property="code" jdbcType="NVARCHAR" />
    <result column="NAME" property="name" jdbcType="NVARCHAR" />
    <result column="PID" property="pid" jdbcType="NVARCHAR" />
    <result column="REMARK" property="remark" jdbcType="NVARCHAR" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    <result column="EXPLAIN" property="explain" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    ID, CODE, NAME, PID, REMARK, SORT, EXPLAIN
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiangxun.atms.module.apb.vo.ApbProductTypeSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_APB_PRODUCT_TYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from T_APB_PRODUCT_TYPE
    where ID = #{id,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    delete from T_APB_PRODUCT_TYPE
    where ID = #{id,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiangxun.atms.module.apb.vo.ApbProductTypeSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    delete from T_APB_PRODUCT_TYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiangxun.atms.module.apb.vo.ApbProductType" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    insert into T_APB_PRODUCT_TYPE (CODE, NAME, PID, 
      REMARK, SORT, EXPLAIN
      )
    values (#{code,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, #{pid,jdbcType=NVARCHAR}, 
      #{remark,jdbcType=NVARCHAR}, #{sort,jdbcType=INTEGER}, #{explain,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangxun.atms.module.apb.vo.ApbProductType" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    insert into T_APB_PRODUCT_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        ID,
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
        CODE,
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        NAME,
      </if>
      <if test="@Ognl@isNotEmpty(pid)" >
        PID,
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
        REMARK,
      </if>
      <if test="@Ognl@isNotEmpty(sort)" >
        SORT,
      </if>
      <if test="@Ognl@isNotEmpty(explain)" >
        EXPLAIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(pid)" >
        #{pid,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(sort)" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(explain)" >
        #{explain,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiangxun.atms.module.apb.vo.ApbProductTypeSearch" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    select count(*) from T_APB_PRODUCT_TYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    update T_APB_PRODUCT_TYPE
    <set >
      <if test="@Ognl@isNotEmpty(record.id)" >
        ID = #{record.id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.code)" >
        CODE = #{record.code,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.name)" >
        NAME = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.pid)" >
        PID = #{record.pid,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.remark)" >
        REMARK = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.sort)" >
        SORT = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(record.explain)" >
        EXPLAIN = #{record.explain,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    update T_APB_PRODUCT_TYPE
    set ID = #{record.id,jdbcType=NVARCHAR},
      CODE = #{record.code,jdbcType=NVARCHAR},
      NAME = #{record.name,jdbcType=NVARCHAR},
      PID = #{record.pid,jdbcType=NVARCHAR},
      REMARK = #{record.remark,jdbcType=NVARCHAR},
      SORT = #{record.sort,jdbcType=INTEGER},
      EXPLAIN = #{record.explain,jdbcType=NVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangxun.atms.module.apb.vo.ApbProductType" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    update T_APB_PRODUCT_TYPE
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="pid != null" >
        PID = #{pid,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        EXPLAIN = #{explain,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangxun.atms.module.apb.vo.ApbProductType" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    update T_APB_PRODUCT_TYPE
    set CODE = #{code,jdbcType=NVARCHAR},
      NAME = #{name,jdbcType=NVARCHAR},
      PID = #{pid,jdbcType=NVARCHAR},
      REMARK = #{remark,jdbcType=NVARCHAR},
      SORT = #{sort,jdbcType=INTEGER},
      EXPLAIN = #{explain,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <select id="getListByCondition" resultMap="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
     from T_APB_PRODUCT_TYPE
    <where >
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
         and CODE = #{code,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
         and NAME = #{name,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(pid)" >
         and PID = #{pid,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
         and REMARK = #{remark,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(sort)" >
         and SORT = #{sort,jdbcType=INTEGER}
      </if>
      <if test="@Ognl@isNotEmpty(explain)" >
         and EXPLAIN = #{explain,jdbcType=NVARCHAR}
      </if>
    </where>
    <if test="@Ognl@isNotEmpty(sortColumn)" >
       order by ${sortColumn} 
    </if>
  </select>
  <select id="countList" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 04 10:46:54 CST 2017.
    -->
    select count(*) from T_APB_PRODUCT_TYPE
    <where >
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
         and CODE = #{code,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
         and NAME = #{name,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(pid)" >
         and PID = #{pid,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(remark)" >
         and REMARK = #{remark,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(sort)" >
         and SORT = #{sort,jdbcType=INTEGER}
      </if>
      <if test="@Ognl@isNotEmpty(explain)" >
         and EXPLAIN = #{explain,jdbcType=NVARCHAR}
      </if>
    </where>
  </select>
</mapper>