<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxun.atms.module.land.dao.LandSamplingSchemeMapper" >
  <resultMap id="BaseResultMap" type="com.xiangxun.atms.module.land.vo.LandSamplingScheme" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    <id column="ID" property="id" jdbcType="NVARCHAR" />
    <result column="PLAN_ID" property="planId" jdbcType="NVARCHAR" />
    <result column="BLOCK_ID" property="blockId" jdbcType="NVARCHAR" />
    <result column="SAMPLE_CODE" property="sampleCode" jdbcType="NVARCHAR" />
    <result column="CODE" property="code" jdbcType="NVARCHAR" />
    <result column="NAME" property="name" jdbcType="NVARCHAR" />
    <result column="DESCRIBE" property="describe" jdbcType="NVARCHAR" />
    <result column="REGION_ID" property="regionId" jdbcType="NVARCHAR" />
    <result column="DEPT" property="dept" jdbcType="NVARCHAR" />
    <result column="CREATE_ID" property="createId" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="NVARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="TEST_ITEMS" property="testItems" jdbcType="NVARCHAR" />
    
    <result column="PLAN_CODE" property="planCode" jdbcType="VARCHAR" />
    <result column="PLAN_NAME" property="planName" jdbcType="VARCHAR" />
    <result column="BLOCK_CODE" property="blockCode" jdbcType="VARCHAR" />
    <result column="BLOCK_NAME" property="blockName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    ID, PLAN_ID, BLOCK_ID, SAMPLE_CODE, CODE, NAME, DESCRIBE, REGION_ID, DEPT, CREATE_ID, 
    CREATE_TIME, UPDATE_ID, UPDATE_TIME, TEST_ITEMS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingSchemeSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_LAND_SAMPLING_SCHEME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from T_LAND_SAMPLING_SCHEME
    where ID = #{id,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    delete from T_LAND_SAMPLING_SCHEME
    where ID = #{id,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingSchemeSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    delete from T_LAND_SAMPLING_SCHEME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingScheme" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    insert into T_LAND_SAMPLING_SCHEME (PLAN_ID, BLOCK_ID, SAMPLE_CODE, 
      CODE, NAME, DESCRIBE, 
      REGION_ID, DEPT, CREATE_ID, 
      CREATE_TIME, UPDATE_ID, UPDATE_TIME, TEST_ITEMS
      )
    values (#{planId,jdbcType=NVARCHAR}, #{blockId,jdbcType=NVARCHAR}, #{sampleCode,jdbcType=NVARCHAR}, 
      #{code,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, #{describe,jdbcType=NVARCHAR}, 
      #{regionId,jdbcType=NVARCHAR}, #{dept,jdbcType=NVARCHAR}, #{createId,jdbcType=NVARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=NVARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{testItems,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingScheme" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    insert into T_LAND_SAMPLING_SCHEME
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        ID,
      </if>
      <if test="@Ognl@isNotEmpty(planId)" >
        PLAN_ID,
      </if>
      <if test="@Ognl@isNotEmpty(blockId)" >
        BLOCK_ID,
      </if>
      <if test="@Ognl@isNotEmpty(sampleCode)" >
        SAMPLE_CODE,
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
        CODE,
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        NAME,
      </if>
      <if test="@Ognl@isNotEmpty(describe)" >
        DESCRIBE,
      </if>
      <if test="@Ognl@isNotEmpty(regionId)" >
        REGION_ID,
      </if>
      <if test="@Ognl@isNotEmpty(dept)" >
        DEPT,
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        CREATE_ID,
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        CREATE_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        UPDATE_ID,
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        UPDATE_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(testItems)" >
        TEST_ITEMS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(planId)" >
        #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(blockId)" >
        #{blockId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(sampleCode)" >
        #{sampleCode,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(describe)" >
        #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(regionId)" >
        #{regionId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(dept)" >
        #{dept,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        #{createId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        #{updateId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(testItems)" >
        #{testItems,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingSchemeSearch" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    select count(*) from T_LAND_SAMPLING_SCHEME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    update T_LAND_SAMPLING_SCHEME
    <set >
      <if test="@Ognl@isNotEmpty(record.id)" >
        ID = #{record.id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.planId)" >
        PLAN_ID = #{record.planId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.blockId)" >
        BLOCK_ID = #{record.blockId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.sampleCode)" >
        SAMPLE_CODE = #{record.sampleCode,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.code)" >
        CODE = #{record.code,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.name)" >
        NAME = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.describe)" >
        DESCRIBE = #{record.describe,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.regionId)" >
        REGION_ID = #{record.regionId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.dept)" >
        DEPT = #{record.dept,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.createId)" >
        CREATE_ID = #{record.createId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.createTime)" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(record.updateId)" >
        UPDATE_ID = #{record.updateId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.updateTime)" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    update T_LAND_SAMPLING_SCHEME
    set ID = #{record.id,jdbcType=NVARCHAR},
      PLAN_ID = #{record.planId,jdbcType=NVARCHAR},
      BLOCK_ID = #{record.blockId,jdbcType=NVARCHAR},
      SAMPLE_CODE = #{record.sampleCode,jdbcType=NVARCHAR},
      CODE = #{record.code,jdbcType=NVARCHAR},
      NAME = #{record.name,jdbcType=NVARCHAR},
      DESCRIBE = #{record.describe,jdbcType=NVARCHAR},
      REGION_ID = #{record.regionId,jdbcType=NVARCHAR},
      DEPT = #{record.dept,jdbcType=NVARCHAR},
      CREATE_ID = #{record.createId,jdbcType=NVARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{record.updateId,jdbcType=NVARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingScheme" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    update T_LAND_SAMPLING_SCHEME
    <set >
      <if test="planId != null" >
        PLAN_ID = #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="blockId != null" >
        BLOCK_ID = #{blockId,jdbcType=NVARCHAR},
      </if>
      <if test="sampleCode != null" >
        SAMPLE_CODE = #{sampleCode,jdbcType=NVARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="describe != null" >
        DESCRIBE = #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="regionId != null" >
        REGION_ID = #{regionId,jdbcType=NVARCHAR},
      </if>
      <if test="dept != null" >
        DEPT = #{dept,jdbcType=NVARCHAR},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=NVARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testItems != null" >
        TEST_ITEMS = #{testItems,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingScheme" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Wed Jun 21 15:31:36 CST 2017.
    -->
    update T_LAND_SAMPLING_SCHEME
    set PLAN_ID = #{planId,jdbcType=NVARCHAR},
      BLOCK_ID = #{blockId,jdbcType=NVARCHAR},
      SAMPLE_CODE = #{sampleCode,jdbcType=NVARCHAR},
      CODE = #{code,jdbcType=NVARCHAR},
      NAME = #{name,jdbcType=NVARCHAR},
      DESCRIBE = #{describe,jdbcType=NVARCHAR},
      REGION_ID = #{regionId,jdbcType=NVARCHAR},
      DEPT = #{dept,jdbcType=NVARCHAR},
      CREATE_ID = #{createId,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{updateId,jdbcType=NVARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      TEST_ITEMS = #{testItems,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <select id="getListByCondition" resultMap="BaseResultMap" >
    SELECT T.ID, T.PLAN_ID, P.CODE PLAN_CODE, P.NAME PLAN_NAME
	, T.BLOCK_ID, LB.CODE BLOCK_CODE, LB.NAME BLOCK_NAME, T.SAMPLE_CODE
	, T.CODE, T.NAME, T.DESCRIBE, T.REGION_ID, T.DEPT, T.STATUS, T.TEST_ITEMS
	FROM T_LAND_SAMPLING_SCHEME T
	LEFT JOIN T_LAND_BLOCK LB ON LB.ID = T.BLOCK_ID
	LEFT JOIN T_LAND_SAMPLING_PLAN P ON P.ID = T.PLAN_ID
    <include refid="Base_Where"/>
    <if test="@Ognl@isNotEmpty(sortColumn)" >
       order by ${sortColumn} 
    </if>
  </select>
  <sql id="Base_Where">
  	<where >
      <if test="@Ognl@isNotEmpty(id)" >
         and T.ID = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(planId)" >
         and T.PLAN_ID = #{planId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(blockId)" >
         and T.BLOCK_ID = #{blockId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(sampleCode)" >
         and T.SAMPLE_CODE = #{sampleCode,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
         and T.CODE LIKE '%${code}%'
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
         and T.NAME LIKE '%${name}%'
      </if>
      <if test="@Ognl@isNotEmpty(describe)" >
         and T.DESCRIBE = #{describe,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(regionId)" >
         and T.REGION_ID = #{regionId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(dept)" >
         and T.DEPT = #{dept,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
         and T.CREATE_ID = #{createId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
         and T.CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
         and T.UPDATE_ID = #{updateId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
         and T.UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <select id="countList" resultType="java.lang.Integer" >
    SELECT COUNT(T.ID) 
    FROM T_LAND_SAMPLING_SCHEME T
	LEFT JOIN T_LAND_BLOCK LB ON LB.ID = T.BLOCK_ID
	LEFT JOIN T_LAND_SAMPLING_PLAN P ON P.ID = T.PLAN_ID
    <include refid="Base_Where"/>
  </select>
  
  <select id="queryMissionSelectSchemes" resultMap="BaseResultMap">
  	SELECT T.ID, T.CODE, T.NAME
	, T.BLOCK_ID, B.CODE AS BLOCK_CODE, B.NAME AS BLOCK_NAME
	, T.PLAN_ID, P.CODE AS PLAN_CODE, P.NAME AS PLAN_NAME
	FROM T_LAND_SAMPLING_SCHEME T
	LEFT JOIN T_LAND_BLOCK B ON B.ID = T.BLOCK_ID
	LEFT JOIN T_LAND_SAMPLING_PLAN P ON P.ID = T.PLAN_ID
	WHERE T.STATUS = 0
  </select>
  
  <select id="isDelete" resultType="java.lang.Integer" parameterType="java.lang.String">
  	SELECT COUNT(T.ID)
	FROM T_LAND_MISSION T
	WHERE T.SCHEME_ID = #{id,jdbcType=VARCHAR}
  </select>
  
</mapper>