<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxun.atms.module.land.dao.LandBlockErrorMapper" >
  <resultMap id="BaseResultMap" type="com.xiangxun.atms.module.land.vo.LandBlockError" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    <id column="ID" property="id" jdbcType="NVARCHAR" />
    <result column="LAND_BLOCK_ID" property="landBlockId" jdbcType="NVARCHAR" />
    <result column="LONGITUDE" property="longitude" jdbcType="DECIMAL" />
    <result column="LATITUDE" property="latitude" jdbcType="DECIMAL" />
    <result column="ERROR_TIME" property="errorTime" jdbcType="TIMESTAMP" />
    <result column="DESCRIBE" property="describe" jdbcType="NVARCHAR" />
    <result column="CREATE_ID" property="createId" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="NVARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    ID, LAND_BLOCK_ID, LONGITUDE, LATITUDE, ERROR_TIME, DESCRIBE, CREATE_ID, CREATE_TIME, 
    UPDATE_ID, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiangxun.atms.module.land.vo.LandBlockErrorSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_LAND_BLOCK_ERROR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from T_LAND_BLOCK_ERROR
    where ID = #{id,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    delete from T_LAND_BLOCK_ERROR
    where ID = #{id,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiangxun.atms.module.land.vo.LandBlockErrorSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    delete from T_LAND_BLOCK_ERROR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiangxun.atms.module.land.vo.LandBlockError" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    insert into T_LAND_BLOCK_ERROR (LAND_BLOCK_ID, LONGITUDE, LATITUDE, 
      ERROR_TIME, DESCRIBE, CREATE_ID, 
      CREATE_TIME, UPDATE_ID, UPDATE_TIME
      )
    values (#{landBlockId,jdbcType=NVARCHAR}, #{longitude,jdbcType=NVARCHAR}, #{latitude,jdbcType=NVARCHAR}, 
      #{errorTime,jdbcType=TIMESTAMP}, #{describe,jdbcType=NVARCHAR}, #{createId,jdbcType=NVARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=NVARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangxun.atms.module.land.vo.LandBlockError" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    insert into T_LAND_BLOCK_ERROR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        ID,
      </if>
      <if test="@Ognl@isNotEmpty(landBlockId)" >
        LAND_BLOCK_ID,
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
        LONGITUDE,
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
        LATITUDE,
      </if>
      <if test="@Ognl@isNotEmpty(errorTime)" >
        ERROR_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(describe)" >
        DESCRIBE,
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        CREATE_ID,
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        CREATE_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        UPDATE_ID,
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(landBlockId)" >
        #{landBlockId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
        #{longitude,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
        #{latitude,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(errorTime)" >
        #{errorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(describe)" >
        #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        #{createId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        #{updateId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiangxun.atms.module.land.vo.LandBlockErrorSearch" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    select count(*) from T_LAND_BLOCK_ERROR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    update T_LAND_BLOCK_ERROR
    <set >
      <if test="@Ognl@isNotEmpty(record.id)" >
        ID = #{record.id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.landBlockId)" >
        LAND_BLOCK_ID = #{record.landBlockId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.longitude)" >
        LONGITUDE = #{record.longitude,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.latitude)" >
        LATITUDE = #{record.latitude,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.errorTime)" >
        ERROR_TIME = #{record.errorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(record.describe)" >
        DESCRIBE = #{record.describe,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.createId)" >
        CREATE_ID = #{record.createId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.createTime)" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(record.updateId)" >
        UPDATE_ID = #{record.updateId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.updateTime)" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    update T_LAND_BLOCK_ERROR
    set ID = #{record.id,jdbcType=NVARCHAR},
      LAND_BLOCK_ID = #{record.landBlockId,jdbcType=NVARCHAR},
      LONGITUDE = #{record.longitude,jdbcType=NVARCHAR},
      LATITUDE = #{record.latitude,jdbcType=NVARCHAR},
      ERROR_TIME = #{record.errorTime,jdbcType=TIMESTAMP},
      DESCRIBE = #{record.describe,jdbcType=NVARCHAR},
      CREATE_ID = #{record.createId,jdbcType=NVARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{record.updateId,jdbcType=NVARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangxun.atms.module.land.vo.LandBlockError" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    update T_LAND_BLOCK_ERROR
    <set >
      <if test="landBlockId != null" >
        LAND_BLOCK_ID = #{landBlockId,jdbcType=NVARCHAR},
      </if>
      <if test="longitude != null" >
        LONGITUDE = #{longitude,jdbcType=NVARCHAR},
      </if>
      <if test="latitude != null" >
        LATITUDE = #{latitude,jdbcType=NVARCHAR},
      </if>
      <if test="errorTime != null" >
        ERROR_TIME = #{errorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="describe != null" >
        DESCRIBE = #{describe,jdbcType=NVARCHAR},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=NVARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangxun.atms.module.land.vo.LandBlockError" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    update T_LAND_BLOCK_ERROR
    set LAND_BLOCK_ID = #{landBlockId,jdbcType=NVARCHAR},
      LONGITUDE = #{longitude,jdbcType=NVARCHAR},
      LATITUDE = #{latitude,jdbcType=NVARCHAR},
      ERROR_TIME = #{errorTime,jdbcType=TIMESTAMP},
      DESCRIBE = #{describe,jdbcType=NVARCHAR},
      CREATE_ID = #{createId,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{updateId,jdbcType=NVARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <select id="getListByCondition" resultMap="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
     from T_LAND_BLOCK_ERROR
    <where >
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(landBlockId)" >
         and LAND_BLOCK_ID = #{landBlockId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
         and LONGITUDE = #{longitude,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
         and LATITUDE = #{latitude,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(errorTime)" >
         and ERROR_TIME = #{errorTime,jdbcType=TIMESTAMP}
      </if>
      <if test="@Ognl@isNotEmpty(describe)" >
         and DESCRIBE = #{describe,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
         and CREATE_ID = #{createId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
         and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
         and UPDATE_ID = #{updateId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
         and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    <if test="@Ognl@isNotEmpty(sortColumn)" >
       order by ${sortColumn} 
    </if>
  </select>
  <select id="countList" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jun 20 10:31:44 CST 2017.
    -->
    select count(*) from T_LAND_BLOCK_ERROR
    <where >
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(landBlockId)" >
         and LAND_BLOCK_ID = #{landBlockId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
         and LONGITUDE = #{longitude,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
         and LATITUDE = #{latitude,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(errorTime)" >
         and ERROR_TIME = #{errorTime,jdbcType=TIMESTAMP}
      </if>
      <if test="@Ognl@isNotEmpty(describe)" >
         and DESCRIBE = #{describe,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
         and CREATE_ID = #{createId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
         and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
         and UPDATE_ID = #{updateId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
         and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>