<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxun.atms.module.pollute.dao.ControllPlanMapper" >
  <resultMap id="BaseResultMap" type="com.xiangxun.atms.module.pollute.vo.ControllPlan" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    <id column="ID" property="id" jdbcType="NVARCHAR" />
    <result column="CODE" property="code" jdbcType="NVARCHAR" />
    <result column="NAME" property="name" jdbcType="NVARCHAR" />
    <result column="CONTENT" property="content" jdbcType="NVARCHAR" />
    <result column="DEPT" property="dept" jdbcType="NVARCHAR" />
    <result column="EXECUTE_TIME" property="executeTime" jdbcType="TIMESTAMP" />
    <result column="IS_EXECUTE" property="isExecute" jdbcType="INTEGER" />
    <result column="CREATE_ID" property="createId" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="NVARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    ID, CODE, NAME, CONTENT, DEPT, EXECUTE_TIME, IS_EXECUTE, CREATE_ID, CREATE_TIME, 
    UPDATE_ID, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiangxun.atms.module.pollute.vo.ControllPlanSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_POLLUTE_CONTROLL_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from T_POLLUTE_CONTROLL_PLAN
    where ID = #{id,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    delete from T_POLLUTE_CONTROLL_PLAN
    where ID = #{id,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiangxun.atms.module.pollute.vo.ControllPlanSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    delete from T_POLLUTE_CONTROLL_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiangxun.atms.module.pollute.vo.ControllPlan" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    insert into T_POLLUTE_CONTROLL_PLAN (CODE, NAME, CONTENT, 
      DEPT, EXECUTE_TIME, IS_EXECUTE, 
      CREATE_ID, CREATE_TIME, UPDATE_ID, 
      UPDATE_TIME)
    values (#{code,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, #{content,jdbcType=NVARCHAR}, 
      #{dept,jdbcType=NVARCHAR}, #{executeTime,jdbcType=TIMESTAMP}, #{isExecute,jdbcType=INTEGER}, 
      #{createId,jdbcType=NVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=NVARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiangxun.atms.module.pollute.vo.ControllPlan" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    insert into T_POLLUTE_CONTROLL_PLAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        ID,
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
        CODE,
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        NAME,
      </if>
      <if test="@Ognl@isNotEmpty(content)" >
        CONTENT,
      </if>
      <if test="@Ognl@isNotEmpty(dept)" >
        DEPT,
      </if>
      <if test="@Ognl@isNotEmpty(executeTime)" >
        EXECUTE_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(isExecute)" >
        IS_EXECUTE,
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        CREATE_ID,
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        CREATE_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        UPDATE_ID,
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
        [dbo].getAutoCode('${code}'),
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(content)" >
        #{content,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(dept)" >
        #{dept,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(executeTime)" >
        #{executeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(isExecute)" >
        #{isExecute,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        #{createId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        #{updateId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiangxun.atms.module.pollute.vo.ControllPlanSearch" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    select count(*) from T_POLLUTE_CONTROLL_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    update T_POLLUTE_CONTROLL_PLAN
    <set >
      <if test="@Ognl@isNotEmpty(record.id)" >
        ID = #{record.id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.code)" >
        CODE = #{record.code,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.name)" >
        NAME = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.content)" >
        CONTENT = #{record.content,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.dept)" >
        DEPT = #{record.dept,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.executeTime)" >
        EXECUTE_TIME = #{record.executeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(record.isExecute)" >
        IS_EXECUTE = #{record.isExecute,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(record.createId)" >
        CREATE_ID = #{record.createId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.createTime)" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(record.updateId)" >
        UPDATE_ID = #{record.updateId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.updateTime)" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    update T_POLLUTE_CONTROLL_PLAN
    set ID = #{record.id,jdbcType=NVARCHAR},
      CODE = #{record.code,jdbcType=NVARCHAR},
      NAME = #{record.name,jdbcType=NVARCHAR},
      CONTENT = #{record.content,jdbcType=NVARCHAR},
      DEPT = #{record.dept,jdbcType=NVARCHAR},
      EXECUTE_TIME = #{record.executeTime,jdbcType=TIMESTAMP},
      IS_EXECUTE = #{record.isExecute,jdbcType=INTEGER},
      CREATE_ID = #{record.createId,jdbcType=NVARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{record.updateId,jdbcType=NVARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangxun.atms.module.pollute.vo.ControllPlan" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    update T_POLLUTE_CONTROLL_PLAN
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=NVARCHAR},
      </if>
      <if test="dept != null" >
        DEPT = #{dept,jdbcType=NVARCHAR},
      </if>
      <if test="executeTime != null" >
        EXECUTE_TIME = #{executeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isExecute != null" >
        IS_EXECUTE = #{isExecute,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        UPDATE_ID = #{updateId,jdbcType=NVARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangxun.atms.module.pollute.vo.ControllPlan" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Sat Jun 10 08:46:37 CST 2017.
    -->
    update T_POLLUTE_CONTROLL_PLAN
    set CODE = #{code,jdbcType=NVARCHAR},
      NAME = #{name,jdbcType=NVARCHAR},
      CONTENT = #{content,jdbcType=NVARCHAR},
      DEPT = #{dept,jdbcType=NVARCHAR},
      EXECUTE_TIME = #{executeTime,jdbcType=TIMESTAMP},
      IS_EXECUTE = #{isExecute,jdbcType=INTEGER},
      CREATE_ID = #{createId,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{updateId,jdbcType=NVARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <select id="getListByCondition" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
     from T_POLLUTE_CONTROLL_PLAN
    <include refid="Base_Where"/>
    <if test="@Ognl@isNotEmpty(sortColumn)" >
       order by ${sortColumn} 
    </if>
  </select>
  
  <sql id="Base_Where">
  	<where >
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
         and CODE LIKE '%${code}%'
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
         and NAME LIKE '%${name}%'
      </if>
      <if test="@Ognl@isNotEmpty(content)" >
         and CONTENT = #{content,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(dept)" >
         and DEPT = #{dept,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(executeTime)" >
         and EXECUTE_TIME = #{executeTime,jdbcType=TIMESTAMP}
      </if>
      <if test="@Ognl@isNotEmpty(isExecute)" >
         and IS_EXECUTE = #{isExecute,jdbcType=INTEGER}
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
         and CREATE_ID = #{createId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
         and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
         and UPDATE_ID = #{updateId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
         and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <select id="countList" resultType="java.lang.Integer" >
    select count(ID) from T_POLLUTE_CONTROLL_PLAN
    <include refid="Base_Where"/>
  </select>
</mapper>