<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxun.atms.module.land.dao.LandSamplingPlanMapper" >
  <resultMap id="BaseResultMap" type="com.xiangxun.atms.module.land.vo.LandSamplingPlan" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    <id column="ID" property="id" jdbcType="NVARCHAR" />
    <result column="CODE" property="code" jdbcType="NVARCHAR" />
    <result column="NAME" property="name" jdbcType="NVARCHAR" />
    <result column="EXPLAIN" property="explain" jdbcType="NVARCHAR" />
    <result column="DEPT" property="dept" jdbcType="NVARCHAR" />
    <result column="SAMPLE_CODES" property="sampleCodes" jdbcType="NVARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="FINISH_TIME" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="IS_FINISH" property="isFinish" jdbcType="INTEGER" />
    <result column="CREATE_ID" property="createId" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="NVARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    ID, CODE, NAME, EXPLAIN, DEPT, SAMPLE_CODES, START_TIME, FINISH_TIME, IS_FINISH, 
    CREATE_ID, CREATE_TIME, UPDATE_ID, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingPlanSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_LAND_SAMPLING_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from T_LAND_SAMPLING_PLAN
    where ID = #{id,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    delete from T_LAND_SAMPLING_PLAN
    where ID = #{id,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingPlanSearch" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    delete from T_LAND_SAMPLING_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingPlan" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    insert into T_LAND_SAMPLING_PLAN (CODE, NAME, EXPLAIN, 
      DEPT, SAMPLE_CODES, START_TIME, 
      FINISH_TIME, IS_FINISH, CREATE_ID, 
      CREATE_TIME, UPDATE_ID, UPDATE_TIME
      )
    values (#{code,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, #{explain,jdbcType=NVARCHAR}, 
      #{dept,jdbcType=NVARCHAR}, #{sampleCodes,jdbcType=NVARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{finishTime,jdbcType=TIMESTAMP}, #{isFinish,jdbcType=INTEGER}, #{createId,jdbcType=NVARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=NVARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingPlan" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    insert into T_LAND_SAMPLING_PLAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        ID,
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
        CODE,
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        NAME,
      </if>
      <if test="@Ognl@isNotEmpty(explain)" >
        EXPLAIN,
      </if>
      <if test="@Ognl@isNotEmpty(dept)" >
        DEPT,
      </if>
      <if test="@Ognl@isNotEmpty(sampleCodes)" >
        SAMPLE_CODES,
      </if>
      <if test="@Ognl@isNotEmpty(startTime)" >
        START_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(finishTime)" >
        FINISH_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(isFinish)" >
        IS_FINISH,
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        CREATE_ID,
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        CREATE_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        UPDATE_ID,
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
        [dbo].getAutoCode('${code}'),
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(explain)" >
        #{explain,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(dept)" >
        #{dept,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(sampleCodes)" >
        #{sampleCodes,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(startTime)" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(finishTime)" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(isFinish)" >
        #{isFinish,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        #{createId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        #{updateId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingPlanSearch" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    select count(*) from T_LAND_SAMPLING_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    update T_LAND_SAMPLING_PLAN
    <set >
      <if test="@Ognl@isNotEmpty(record.id)" >
        ID = #{record.id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.code)" >
        CODE = #{record.code,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.name)" >
        NAME = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.explain)" >
        EXPLAIN = #{record.explain,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.dept)" >
        DEPT = #{record.dept,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.sampleCodes)" >
        SAMPLE_CODES = #{record.sampleCodes,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.startTime)" >
        START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(record.finishTime)" >
        FINISH_TIME = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(record.isFinish)" >
        IS_FINISH = #{record.isFinish,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(record.createId)" >
        CREATE_ID = #{record.createId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.createTime)" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(record.updateId)" >
        UPDATE_ID = #{record.updateId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(record.updateTime)" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    update T_LAND_SAMPLING_PLAN
    set ID = #{record.id,jdbcType=NVARCHAR},
      CODE = #{record.code,jdbcType=NVARCHAR},
      NAME = #{record.name,jdbcType=NVARCHAR},
      EXPLAIN = #{record.explain,jdbcType=NVARCHAR},
      DEPT = #{record.dept,jdbcType=NVARCHAR},
      SAMPLE_CODES = #{record.sampleCodes,jdbcType=NVARCHAR},
      START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      FINISH_TIME = #{record.finishTime,jdbcType=TIMESTAMP},
      IS_FINISH = #{record.isFinish,jdbcType=INTEGER},
      CREATE_ID = #{record.createId,jdbcType=NVARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{record.updateId,jdbcType=NVARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingPlan" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    update T_LAND_SAMPLING_PLAN
    <set >
      <if test="@Ognl@isNotEmpty(code)" >
        CODE = #{code,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        NAME = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(explain)" >
        EXPLAIN = #{explain,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(dept)" >
        DEPT = #{dept,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(sampleCodes)" >
        SAMPLE_CODES = #{sampleCodes,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(startTime)" >
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(finishTime)" >
        FINISH_TIME = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(isFinish)" >
        IS_FINISH = #{isFinish,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        CREATE_ID = #{createId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        UPDATE_ID = #{updateId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangxun.atms.module.land.vo.LandSamplingPlan" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Tue Jul 11 08:39:25 CST 2017.
    -->
    update T_LAND_SAMPLING_PLAN
    set CODE = #{code,jdbcType=NVARCHAR},
      NAME = #{name,jdbcType=NVARCHAR},
      EXPLAIN = #{explain,jdbcType=NVARCHAR},
      DEPT = #{dept,jdbcType=NVARCHAR},
      SAMPLE_CODES = #{sampleCodes,jdbcType=NVARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      FINISH_TIME = #{finishTime,jdbcType=TIMESTAMP},
      IS_FINISH = #{isFinish,jdbcType=INTEGER},
      CREATE_ID = #{createId,jdbcType=NVARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_ID = #{updateId,jdbcType=NVARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <select id="getListByCondition" resultMap="BaseResultMap" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM T_LAND_SAMPLING_PLAN
    <include refid="Base_Where"/>
    <if test="@Ognl@isNotEmpty(sortColumn)" >
       order by ${sortColumn} 
    </if>
  </select>
  <sql id="Base_Where">
  	<where >
      <if test="@Ognl@isNotEmpty(id)" >
         and ID = #{id,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
         and CODE LIKE '%${code}%'
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
         and NAME LIKE '%${name}%'
      </if>
      <if test="@Ognl@isNotEmpty(explain)" >
         and EXPLAIN = #{explain,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(dept)" >
         and DEPT = #{dept,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(sampleCodes)" >
         and SAMPLE_CODES LIKE '%${sampleCodes}%'
      </if>
      <if test="@Ognl@isNotEmpty(startTime)" >
         and START_TIME = #{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="@Ognl@isNotEmpty(finishTime)" >
         and FINISH_TIME = #{finishTime,jdbcType=TIMESTAMP}
      </if>
      <if test="@Ognl@isNotEmpty(isFinish)" >
         and IS_FINISH = #{isFinish,jdbcType=INTEGER}
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
         and CREATE_ID = #{createId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
         and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
         and UPDATE_ID = #{updateId,jdbcType=NVARCHAR}
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
         and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <select id="countList" resultType="java.lang.Integer" >
    SELECT COUNT(ID) FROM T_LAND_SAMPLING_PLAN
    <include refid="Base_Where"/>
  </select>
  
  <select id="queryBySelectItem" resultMap="BaseResultMap">
  	SELECT T.ID, T.CODE, T.NAME
	FROM T_LAND_SAMPLING_PLAN T
	WHERE T.IS_FINISH = 0
	ORDER BY T.CREATE_TIME
  </select>
  
  <select id="doFinish" statementType="CALLABLE">
  	{CALL FINISH_PLAN(#{planId,mode=IN,jdbcType=VARCHAR})}
  </select>
  
  <select id="isDelete" resultType="java.lang.Integer" parameterType="java.lang.String">
  	SELECT COUNT(T.ID)
	FROM T_LAND_SAMPLING_SCHEME T
	WHERE T.PLAN_ID = #{id,jdbcType=VARCHAR}
  </select>
  
</mapper>