<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxun.atms.module.land.dao.LandHomeMapper" >
  
  <select id="getReggingCount" resultType="map">
  	SELECT '农田土壤' AS NAME_, COUNT(T.ID) AS NUM_
	FROM T_SAMPLING_LAND_REG T
	WHERE T.STATUS = 0
	UNION ALL
	SELECT '背景土壤' AS NAME_, COUNT(T.ID) AS NUM_
	FROM T_SAMPLING_BACK_REG T
	WHERE T.STATUS = 0
	UNION ALL
	SELECT '地下水' AS NAME_, COUNT(T.ID) AS NUM_
	FROM T_SAMPLING_WATER_REG T
	WHERE T.STATUS = 0 AND T.SAMPLING_TYPE = '002'
	UNION ALL
	SELECT '地表水' AS NAME_, COUNT(T.ID) AS NUM_
	FROM T_SAMPLING_WATER_REG T
	WHERE T.STATUS = 0 AND T.SAMPLING_TYPE = '001'
	UNION ALL
	SELECT '底泥' AS NAME_, COUNT(T.ID) AS NUM_
	FROM T_SAMPLING_WATER_REG T
	WHERE T.STATUS = 0 AND T.SAMPLING_TYPE = '003'
	UNION ALL
	SELECT '大气沉降' AS NAME_, COUNT(T.ID) AS NUM_
	FROM T_SAMPLING_AIR_REG T
	WHERE T.STATUS = 0
	UNION ALL
	SELECT '农作物' AS NAME_, COUNT(T.ID) AS NUM_
	FROM T_SAMPLING_FARM_REG T
	WHERE T.STATUS = 0
	UNION ALL
	SELECT '肥料' AS NAME_, COUNT(T.ID) AS NUM_
	FROM T_SAMPLING_MANURE_REG T
	WHERE T.STATUS = 0
  </select>
  
  <select id="getLandTypeAreaCount" resultType="map">
  	SELECT D.NAME, CASE WHEN TT.SUM_AREA IS NULL THEN 0 ELSE TT.SUM_AREA END AS SUM_AREA
	FROM (
		SELECT T.TYPE_CODE, SUM(T.AREA) AS SUM_AREA
		FROM T_LAND_BLOCK T
		GROUP BY T.TYPE_CODE
	) TT
	RIGHT JOIN (SELECT * FROM SYS_DIC T1 WHERE T1.TYPE = 'LAND_BLOCK_TYPE') D ON D.CODE = TT.TYPE_CODE
  </select>
  
  <select id="getTopLandBlockCount" resultType="map">
  	SELECT TT.SUM_AREA, TT.WR_AREA, CAST(TT.WR_AREA/TT.SUM_AREA*100 AS DECIMAL(5,2)) AS PERC
	FROM (
		SELECT SUM(T.AREA) AS SUM_AREA, SUM(CASE WHEN T.TYPE_CODE = '01' THEN T.AREA ELSE 0 END) AS WR_AREA
		FROM T_LAND_BLOCK T
	) TT
  </select>
  
  <select id="getTopSampleCount" resultType="map">
  	SELECT SUM(CASE WHEN T.MISSION_STATUS = 1 AND T.STATUS = 0 THEN 1 ELSE 0 END) AS M_START_NUM
	, SUM(CASE WHEN T.STATUS = 1 THEN 1 ELSE 0 END) AS M_END_NUM
	FROM T_LAND_MISSION T
  </select>
  
  <select id="getTopRepairCount" resultType="map">
  	SELECT SUM(CASE WHEN T.SCHEDULE != '099' THEN 1 END) AS R_START_NUM
	, SUM(CASE WHEN T.SCHEDULE = '099' THEN 1 END) AS R_END_NUM
	FROM T_LAND_REPAIR_PROJECT T
  </select>
  
  <select id="getNewRegLandInfo" resultType="map">
  	SELECT TOP ${pageSize} T.CODE, T.NAME, T.AREA, O.NAME AS OWNER_NAME
	FROM T_LAND_BLOCK T
	LEFT JOIN T_OWNER O ON O.ID = T.OWNER_ID
	ORDER BY T.CREATE_TIME DESC
  </select>
  
  <select id="getSamplingPlanInfo" resultType="map">
  	SELECT TOP ${pageSize} T.NAME, S.SAMPLE_CODE, [dbo].getRegCountByMissionId(T.ID) AS NUM_
	FROM T_LAND_MISSION T
	LEFT JOIN T_LAND_SAMPLING_SCHEME S ON S.ID = T.SCHEME_ID
	WHERE T.STATUS = 0 AND S.SAMPLE_CODE IS NOT NULL
	ORDER BY T.CREATE_TIME DESC
  </select>
  
  <select id="getLandRepair" resultType="map">
  	SELECT TOP ${pageSize} T.NAME, T.TECHNOLOGY, T.AREA, T.BEGIN_TIME, T.SCHEDULE
	FROM T_LAND_REPAIR_PROJECT T
	ORDER BY T.BEGIN_TIME DESC
  </select>
  
</mapper>