/* CSS Document */
@CHARSET "UTF-8";
.btn3_mouseout {
BORDER-RIGHT: #2C59AA 1px solid;
PADDING-RIGHT: 2px;
BORDER-TOP: #2C59AA 1px solid;
PADDING-LEFT: 2px;
FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#4C83C8); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid
}
.btn3_mouseover {
BORDER-RIGHT: #2C59AA 1px solid;
PADDING-RIGHT: 2px;
BORDER-TOP: #2C59AA 1px solid;
PADDING-LEFT: 2px;
FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#D7E7FA); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid
}
.btn3_mouseclick {
BORDER-RIGHT: #2C59AA 1px solid;
PADDING-RIGHT: 2px;
BORDER-TOP: #2C59AA 1px solid;
PADDING-LEFT: 2px;
FONT-SIZE: 12px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#009900); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid
}
.btn_mouseout{
width:72px;
height:32px;
background: url( ../pic/btnOut.png );
border:0px;
font-family:"微软雅黑";
font-size:14px;
font-weight:bolder;
color:#FFFFFF;
cursor:hand;
}
.btn_mouseover{
width:72px;
height:32px;
border:0px;
background: url( ../pic/btnOver.png );
font-family:"微软雅黑";
font-size:14px;
font-weight:bolder;
color:#FFFFFF;
cursor:hand;}
.btnNext_mouseout{
width:65px;
height:27px;
background: url( ../pic/btnNextOut.png);
border:0px;
cursor:hand;
font-weight:bolder;
font-size:12px;
color:#ffffff;
font-family:"����";
padding-top:2px;
}
.btnNext_mouseover{
width:65px;
height:27px;
background: url( ../pic/btnNextOver.png);
border:0px;
cursor:hand;
font-weight:bolder;
color:#ffffff;
font-size:12px;
font-family:"����";
padding-top:2px;
}
.loginSignIn{
width:75px;
height:25px;
background: url(../pic/loginSignIn.png);

}
.loginSignInOver{


}.