<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxun.epms.mobile.business.dao.LandTypeMapper" >
  <resultMap id="BaseResultMap" type="com.xiangxun.epms.mobile.business.domain.LandType" >
    <!--
      WARNING - @mbggenerated
      This element was generated on Fri Jul 21 10:07:11 CST 2017.
    -->
    <id column="ID" property="id" jdbcType="NVARCHAR" />
    <result column="CODE" property="code" jdbcType="NVARCHAR" />
    <result column="NAME" property="name" jdbcType="NVARCHAR" />
    <result column="PID" property="pid" jdbcType="NVARCHAR" />
    <result column="REMARK" property="remark" jdbcType="NVARCHAR" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <select id="findAll" resultMap="BaseResultMap"  >
   
    select *  from T_LAND_TYPE
    
  </select>
  <select id="findByCode" resultMap="BaseResultMap"  parameterType="java.lang.String" >
   
    select *  from T_LAND_TYPE where code =#{code}
    
  </select>
 
</mapper>