<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangxun.epms.mobile.business.dao.SamplingLandRegMapper" >
<resultMap id="BaseResultMap" type="com.xiangxun.epms.mobile.business.domain.SamplingReg" >
    <id column="ID" property="id" jdbcType="NVARCHAR" />
    <result column="CODE" property="code" jdbcType="NVARCHAR" />
    <result column="NAME" property="name" jdbcType="NVARCHAR" />
    <result column="DEPTH" property="depth" jdbcType="NVARCHAR" />
    <result column="SOIL_TYPE" property="soilType" jdbcType="NVARCHAR" />
    <result column="SOIL_NAME" property="soilName" jdbcType="NVARCHAR" />
    <result column="LONGITUDE" property="longitude" jdbcType="DECIMAL" />
    <result column="LATITUDE" property="latitude" jdbcType="DECIMAL" />
    <result column="SAMPLING_TIME" property="samplingTime" jdbcType="TIMESTAMP" />
    <result column="SAMPLING_USER" property="samplingUser" jdbcType="NVARCHAR" />
    <result column="RECEIVE_USER" property="receiveUser" jdbcType="NVARCHAR" />
    <result column="SEND_USER" property="sendUser" jdbcType="NVARCHAR" />
    <result column="SAMPLING_SOURCE" property="samplingSource" jdbcType="NVARCHAR" />
    <result column="CHECK_STATUS" property="checkStatus" jdbcType="INTEGER" />
    <result column="CHECK_USER" property="checkUser" jdbcType="NVARCHAR" />
    <result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_ID" property="createId" jdbcType="NVARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_ID" property="updateId" jdbcType="NVARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="MISSION_ID" property="missionId" jdbcType="NVARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="NVARCHAR" />
    <!-- 水采样不同属性  typeCode背景土壤采样采样也有 SAMPLING_TYPE土壤和农作物也有-->
    <result column="TYPE_CODE" property="typeCode" jdbcType="NVARCHAR" />
    <result column="SAMPLING_TYPE" property="samplingType" jdbcType="NVARCHAR" />
    <result column="RIVERS_NAME" property="riversName" jdbcType="NVARCHAR" />
    <result column="MUD_LONGITUDE" property="mudLongitude" jdbcType="DECIMAL" />
    <result column="MUD_LATITUDE" property="mudLatitude" jdbcType="DECIMAL" />
    <!-- 农产品采样不同属性 -->
    <result column="POSITION" property="position" jdbcType="NVARCHAR" />
    <!-- 背景土壤采样不同属性  typeCode与水采样都有 -->
    <result column="AMBIENT" property="ambient" jdbcType="NVARCHAR" />
    <result column="YEARS" property="years" jdbcType="NVARCHAR" />
    <result column="WALL_SOURCE" property="wallSource" jdbcType="NVARCHAR" />
    <!-- 肥料采样特有属性 -->
    <result column="SHOP_NAME" property="shopName" jdbcType="NVARCHAR" />
    <result column="SHOPKEEPER" property="shopkeeper" jdbcType="NVARCHAR" />
    <result column="TEL" property="tel" jdbcType="NVARCHAR" />
    <result column="DEAL_MANURE" property="dealManure" jdbcType="NVARCHAR" />
    <!-- 大气采样特有属性 -->
    <result column="CONTAINER_VOLUME" property="containerVolume" jdbcType="NVARCHAR" />
    <result column="COLLECT_VOLUME" property="collectVolume" jdbcType="NVARCHAR" />
    <result column="POINT_ID" property="pointId" jdbcType="NVARCHAR" />
    
    <result column="othersamplyName" property="othersamplyName" jdbcType="NVARCHAR" />
    <result column="typesamplyName" property="typesamplyName" jdbcType="NVARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    ID, CODE, NAME, DEPTH, SOIL_TYPE, LONGITUDE, LATITUDE,  SAMPLING_TIME, 
    SAMPLING_USER, RECEIVE_USER, SEND_USER, SAMPLING_SOURCE, CHECK_STATUS, 
    CHECK_USER, CHECK_TIME, CREATE_ID, CREATE_TIME, UPDATE_ID, UPDATE_TIME, STATUS, MISSION_ID
  </sql>
  <select id="selectByMissionId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select A.ID,A.NAME,A.CODE, A.DEPTH,A.LONGITUDE, A.LATITUDE, A.SAMPLING_TIME,A.MISSION_ID, L.NAME SAMPLING_NAME from ( select 
     ID, CODE, NAME, DEPTH, SAMPLING_TYPE, LONGITUDE, LATITUDE,  SAMPLING_TIME , MISSION_ID ,CREATE_TIME,UPDATE_TIME 
    from T_SAMPLING_LAND_REG
   ) A  LEFT JOIN  (select * from sys_dic where type='SAMPLING_LAND_TYPE' ) L on  A.SAMPLING_TYPE=L.CODE     where A.MISSION_ID = #{missionId,jdbcType=NVARCHAR}  ORDER BY A.CREATE_TIME DESC,UPDATE_TIME DESC  
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
     select A.ID,A.CODE,A.NAME,case when  A.DEPTH is null then ' ' else A.DEPTH end DEPTH ,A.LONGITUDE, A.LATITUDE, 
     case when  L.NAME is null then ' ' else  L.NAME end typesamplyName ,A.MISSION_ID from ( select 
     ID, CODE, NAME, DEPTH, SAMPLING_TYPE, LONGITUDE, LATITUDE,  SAMPLING_TIME , MISSION_ID 
    from T_SAMPLING_LAND_REG
   ) A  LEFT JOIN  (select * from sys_dic where type='SAMPLING_LAND_TYPE' ) L on  A.SAMPLING_TYPE=L.CODE 
    where A.ID = #{id,jdbcType=NVARCHAR}
  </select>
  <select id="findByCode"   parameterType="java.lang.String"  resultType="com.xiangxun.epms.mobile.business.domain.SamplingReg">
    select code from  T_SAMPLING_LAND_REG where code =#{code} 
  </select>
  <insert id="insertcollection"  parameterType="java.util.List">  
      <foreach  item="info" collection="list">
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="@Ognl@isNotEmpty(info.id)" >
	        ID,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.code)" >
	        CODE,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.name)" >
	        NAME,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.depth)" >
	        DEPTH,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.samplingType)" >
	        SAMPLING_TYPE,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.longitude)" >
	        LONGITUDE,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.latitude)" >
	        LATITUDE,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.samplingTime)" >
	        SAMPLING_TIME,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.samplingUser)" >
	        SAMPLING_USER,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.receiveUser)" >
	        RECEIVE_USER,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.sendUser)" >
	        SEND_USER,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.samplingSource)" >
	        SAMPLING_SOURCE,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.checkStatus)" >
	        CHECK_STATUS,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.checkUser)" >
	        CHECK_USER,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.checkTime)" >
	        CHECK_TIME,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.createId)" >
	        CREATE_ID,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.createTime)" >
	        CREATE_TIME,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.updateId)" >
	        UPDATE_ID,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.updateTime)" >
	        UPDATE_TIME,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.status)" >
	        STATUS,
	      </if>
	      <if test="@Ognl@isNotEmpty(info.missionId)" >
	        MISSION_ID 
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="@Ognl@isNotEmpty(info.id)" >
	        #{info.id,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.code)" >
	        #{info.code,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.name)" >
	        #{info.name,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.depth)" >
	        #{info.depth,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.samplingType)" >
	        #{info.samplingType,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.longitude)" >
	        #{info.longitude,jdbcType=DECIMAL},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.latitude)" >
	        #{info.latitude,jdbcType=DECIMAL},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.samplingTime)" >
	        #{info.samplingTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.samplingUser)" >
	        #{info.samplingUser,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(receiveUser)" >
	        #{info.receiveUser,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.sendUser)" >
	        #{info.sendUser,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.samplingSource)" >
	        #{info.samplingSource,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.checkStatus)" >
	        #{info.checkStatus,jdbcType=INTEGER},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.checkUser)" >
	        #{info.checkUser,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.checkTime)" >
	        #{info.checkTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.createId)" >
	        #{info.createId,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.createTime)" >
	        #{info.createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="@Ognl@isNotEmpty(updateId)" >
	        #{info.updateId,jdbcType=NVARCHAR},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.updateTime)" >
	        #{info.updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.status)" >
	        #{info.status,jdbcType=INTEGER},
	      </if>
	      <if test="@Ognl@isNotEmpty(info.missionId)" >
	        #{info.missionId,jdbcType=NVARCHAR}
	      </if>
	    </trim>  
      </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.xiangxun.epms.mobile.business.domain.SamplingReg" useGeneratedKeys="true" keyProperty="id" >
    insert into T_SAMPLING_LAND_REG   
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        ID,
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
        CODE,
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        NAME,
      </if>
      <if test="@Ognl@isNotEmpty(depth)" >
        DEPTH,
      </if>
      <if test="@Ognl@isNotEmpty(samplingType)" >
        SAMPLING_TYPE,
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
        LONGITUDE,
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
        LATITUDE,
      </if>
      <if test="@Ognl@isNotEmpty(samplingTime)" >
        SAMPLING_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(samplingUser)" >
        SAMPLING_USER,
      </if>
      <if test="@Ognl@isNotEmpty(receiveUser)" >
        RECEIVE_USER,
      </if>
      <if test="@Ognl@isNotEmpty(sendUser)" >
        SEND_USER,
      </if>
      <if test="@Ognl@isNotEmpty(samplingSource)" >
        SAMPLING_SOURCE,
      </if>
      <if test="@Ognl@isNotEmpty(checkStatus)" >
        CHECK_STATUS,
      </if>
      <if test="@Ognl@isNotEmpty(checkUser)" >
        CHECK_USER,
      </if>
      <if test="@Ognl@isNotEmpty(checkTime)" >
        CHECK_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        CREATE_ID,
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        CREATE_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        UPDATE_ID,
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        UPDATE_TIME,
      </if>
      <if test="@Ognl@isNotEmpty(missionId)" >
        MISSION_ID 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="@Ognl@isNotEmpty(id)" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(code)" >
        #{code,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(depth)" >
        #{depth,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(samplingType)" >
        #{soilType,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(samplingTime)" >
        #{samplingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(samplingUser)" >
        #{samplingUser,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(receiveUser)" >
        #{receiveUser,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(sendUser)" >
        #{sendUser,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(samplingSource)" >
        #{samplingSource,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(checkStatus)" >
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(checkUser)" >
        #{checkUser,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(checkTime)" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        #{createId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        #{updateId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(missionId)" >
        #{missionId,jdbcType=NVARCHAR} 
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xiangxun.epms.mobile.business.domain.SamplingReg" >
    update T_SAMPLING_LAND_REG
    <set >
      <if test="@Ognl@isNotEmpty(code)" >
        CODE = #{code,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(name)" >
        NAME = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(depth)" >
        DEPTH = #{depth,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(samplingType)" >
        SAMPLING_TYPE = #{samplingType,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(longitude)" >
        LONGITUDE = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(latitude)" >
        LATITUDE = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="@Ognl@isNotEmpty(samplingTime)" >
        SAMPLING_TIME = #{samplingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(samplingUser)" >
        SAMPLING_USER = #{samplingUser,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(receiveUser)" >
        RECEIVE_USER = #{receiveUser,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(sendUser)" >
        SEND_USER = #{sendUser,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(samplingSource)" >
        SAMPLING_SOURCE = #{samplingSource,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(checkStatus)" >
        CHECK_STATUS = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(checkUser)" >
        CHECK_USER = #{checkUser,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(checkTime)" >
        CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(createId)" >
        CREATE_ID = #{createId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(createTime)" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(updateId)" >
        UPDATE_ID = #{updateId,jdbcType=NVARCHAR},
      </if>
      <if test="@Ognl@isNotEmpty(updateTime)" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="@Ognl@isNotEmpty(status)" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="@Ognl@isNotEmpty(missionId)" >
        MISSION_ID = #{missionId,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  
</mapper>